In [1]:
import pandas as pd
import numpy as np

In [3]:
prem_league = pd.read_csv('data/premierLeague_tables_1992-2017.csv')

prem_league.head()

,season,team,points,w,d,l,gf,ga,gd,pld,...,d_h,d_a,l_h,l_a,gf_h,gf_a,ga_h,ga_a,gd_h,gd_a
0,2017-18,Manchester City,100,32,4,2,106,27,79,38,...,2,2,1,1,61,45,14,13,47,32
1,2017-18,Manchester United,81,25,6,7,68,28,40,38,...,2,4,2,5,38,30,9,19,29,11
2,2017-18,Tottenham Hotspur,77,23,8,7,74,36,38,38,...,4,4,2,5,40,34,16,20,24,14
3,2017-18,Liverpool,75,21,12,5,84,38,46,38,...,7,5,0,5,45,39,10,28,35,11
4,2017-18,Chelsea,70,21,7,10,62,38,24,38,...,4,3,4,6,30,32,16,22,14,10

In [4]:
prem_league = prem_league[['season', 'team','points']]

prem_league.head()

    season               team  points
0  2017-18    Manchester City     100
1  2017-18  Manchester United      81
2  2017-18  Tottenham Hotspur      77
3  2017-18          Liverpool      75
4  2017-18            Chelsea      70

In [5]:
df = prem_league.pivot_table(values = 'points',index = ['season'],                                                                                                                columns = 'team')

In [8]:
# df — the dataframe that we want to transform.

# index — the feature that we want to use as an index. In our case, it should be the date.

# columns — the feature that we want to transform where each of the unique value of the feature becomes the column. In our case, this should

# values — the value that represents each column in each row. In our case, it should be the number of points.