In [1]:
import pandas as pd
import json
import numpy as np
import plotly
import plotly.graph_objs as go
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
engine = create_engine('sqlite:///app/db/country.db', echo=False)

In [3]:
session = Session(engine)

In [ ]:
results = engine.execute('SELECT country,UR,Growth,inflation,ER FROM country where Year in ("2014")')

In [ ]:
df = pd.DataFrame(results, columns=['country','UR','Growth','inflation','ER'])

In [ ]:
fourteen = df.to_dict('records')
print("Year 2014:")
print(fourteen)

In [8]:
report = country.query.order_by(country.country).all()
for country in report:
    print(f'{country}')

NameError: name 'country' is not defined

In [ ]:
test  = session.query(country).all()
test_df = pd.DataFrame(test)

In [ ]:
test_df.head()

In [ ]:
china = test_df.loc[test_df["country"]=="china",:]
usa = test_df.loc[test_df["country"]=="usa",:]

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=usa['Year'], y=usa['Growth']))

In [ ]:
session = Session(engine)

In [7]:
results = session.query(country.Year).all()
df = pd.read_sql(results)
print(df)

NameError: name 'country' is not defined

In [4]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['country']

In [9]:
country = Base.classes.country
# singapore = Base.class.singapore

In [16]:
session.query(country.Year,country.Growth,country.Inflation).all()

[('2013', 7.8, 2.6),
 ('2014', 7.3, 1.9),
 ('2015', 6.9, 1.4),
 ('2016', 6.7, 2),
 ('2017', 6.9, 1.6),
 ('2018', 6.6, 2.1),
 ('2014', 2.5, 1.6),
 ('2015', 2.9, 0.1),
 ('2016', 1.6, 1.3),
 ('2017', 2.4, 2.1),
 ('2018', 2.9, 2.4),
 ('2019', 2.3, 1.8),
 ('2014', 3.9, 1),
 ('2015', 2.9, -0.5),
 ('2016', 3, -0.5),
 ('2017', 3.7, 0.6),
 ('2018', 3.1, 0.4),
 ('2019', 0.7, 0.6),
 ('2013', 0.6, 0.9),
 ('2014', 1, 0.5),
 ('2015', 1.1, 0),
 ('2016', 1.1, 0.2),
 ('2017', 2.3, 1),
 ('2018', 1.7, 1.9),
 ('2013', 2.1, 2.6),
 ('2014', 2.6, 1.5),
 ('2015', 2.4, 0.1),
 ('2016', 1.9, 0.6),
 ('2017', 1.9, 2.7),
 ('2018', 1.4, 2.5)]

In [ ]:
session.query(usa.Year, usa.UR , usa.Growth).all()

In [ ]:
for row in session.query(usa.Year, usa.UR , usa.Growth).all():
    print(row)

In [17]:


    results = session.query(country.Year, country.UR , country.Growth).all()

    all_years = []
    for Year , UR, Growth in results:
        report_dict = {}
        report_dict["Year"]= Year
        report_dict["UR"] = UR
        report_dict["Growth"] = Growth
        all_years.append(report_dict)

#     return jsonify(all_years)
    print(all_years)

[{'Year': '2013', 'UR': 3, 'Growth': 7.8}, {'Year': '2014', 'UR': 3.1, 'Growth': 7.3}, {'Year': '2015', 'UR': 3.3, 'Growth': 6.9}, {'Year': '2016', 'UR': 3.6, 'Growth': 6.7}, {'Year': '2017', 'UR': 3.7, 'Growth': 6.9}, {'Year': '2018', 'UR': 3.9, 'Growth': 6.6}, {'Year': '2014', 'UR': 6.2, 'Growth': 2.5}, {'Year': '2015', 'UR': 5.3, 'Growth': 2.9}, {'Year': '2016', 'UR': 4.9, 'Growth': 1.6}, {'Year': '2017', 'UR': 4.3, 'Growth': 2.4}, {'Year': '2018', 'UR': 3.9, 'Growth': 2.9}, {'Year': '2019', 'UR': 3.7, 'Growth': 2.3}, {'Year': '2014', 'UR': 1.9, 'Growth': 3.9}, {'Year': '2015', 'UR': 1.9, 'Growth': 2.9}, {'Year': '2016', 'UR': 2.1, 'Growth': 3}, {'Year': '2017', 'UR': 2.2, 'Growth': 3.7}, {'Year': '2018', 'UR': 2.1, 'Growth': 3.1}, {'Year': '2019', 'UR': 2.3, 'Growth': 0.7}, {'Year': '2013', 'UR': 10.3, 'Growth': 0.6}, {'Year': '2014', 'UR': 10.3, 'Growth': 1}, {'Year': '2015', 'UR': 10.4, 'Growth': 1.1}, {'Year': '2016', 'UR': 10.1, 'Growth': 1.1}, {'Year': '2017', 'UR': 9.4, 'Growth': 2.3}, {'Year': '2018', 'UR': 9.1, 'Growth': 1.7}, {'Year': '2013', 'UR': 7.6, 'Growth': 2.1}, {'Year': '2014', 'UR': 6.2, 'Growth': 2.6}, {'Year': '2015', 'UR': 5.4, 'Growth': 2.4}, {'Year': '2016', 'UR': 4.9, 'Growth': 1.9}, {'Year': '2017', 'UR': 4.4, 'Growth': 1.9}, {'Year': '2018', 'UR': 4.1, 'Growth': 1.4}]

In [ ]:
# file_name = 'csv/singapore.csv'
# df=pd.read_csv(file_name)
# df

In [ ]:
# print(df.columns.values)

In [ ]:
# csv = df.to_csv (r'csv/singapore.csv', index = None, header=True)

In [ ]:
str = "This is a test I antg be toto ajjj annhsd "
print(str.split('/')[0])

In [ ]:
str = "This is a test"
print(str.split(" ",2))