In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [2]:
engine = create_engine('sqlite:///DB/country.db', echo=False)

In [3]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['singapore', 'usa']

In [5]:
usa = Base.classes.usa
# singapore = Base.class.singapore

In [6]:
session = Session(engine)

In [18]:
first_row = session.query(usa).all()
first_row.__dict__

AttributeError: 'list' object has no attribute '__dict__'

In [11]:
session.query(usa.Year, usa.UR , usa.Growth).all()

[('2014', 6.2, 2.5),
 ('2015', 5.3, 2.9),
 ('2016', 4.9, 1.6),
 ('2017', 4.3, 2.4),
 ('2018', 3.9, 2.9),
 ('2019', 3.7, 2.3)]

In [12]:
for row in session.query(usa.Year, usa.UR , usa.Growth).all():
    print(row)

('2014', 6.2, 2.5)
('2015', 5.3, 2.9)
('2016', 4.9, 1.6)
('2017', 4.3, 2.4)
('2018', 3.9, 2.9)
('2019', 3.7, 2.3)

In [24]:
def usa():

    results = session.query(Usa.Year, Usa.UR , Usa.Growth).all()

    all_years = []
    for Year , UR, Growth in results:
        report_dict = {}
        report_dict["Year"]= Year
        report_dict["UR"] = UR
        report_dict["Growth"] = Growth
        all_years.append(report_dict)

#     return jsonify(all_years)
    print(all_years)

[]

In [ ]:
# file_name = 'csv/singapore.csv'
# df=pd.read_csv(file_name)
# df

In [ ]:
# print(df.columns.values)

In [ ]:
# csv = df.to_csv (r'csv/singapore.csv', index = None, header=True)

In [ ]:
str = "This is a test I antg be toto ajjj annhsd "
print(str.split('/')[0])

In [ ]:
str = "This is a test"
print(str.split(" ",2))