In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [6]:
engine = create_engine('sqlite:///app/db/country.db', echo=False)

In [8]:
df = pd.read_sql("SELECT * FROM country", con=engine)
df.head()

,index,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_age_population,Households_number,Consumer_Expenditure,internet_Users,country
0,0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3,china
1,1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9,china
2,2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2,china
3,3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1,china
4,4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6,china

In [12]:
session = Session(engine)

In [14]:
results = session.query(country).all()
df = pd.read_sql(results)
print(df)

NameError: name 'country' is not defined

In [ ]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
usa = Base.classes.usa
# singapore = Base.class.singapore

In [ ]:
session = Session(engine)

In [ ]:
first_row = session.query(usa).all()
first_row.__dict__

In [ ]:
session.query(usa.Year, usa.UR , usa.Growth).all()

In [ ]:
for row in session.query(usa.Year, usa.UR , usa.Growth).all():
    print(row)

In [ ]:
def usa():

    results = session.query(Usa.Year, Usa.UR , Usa.Growth).all()

    all_years = []
    for Year , UR, Growth in results:
        report_dict = {}
        report_dict["Year"]= Year
        report_dict["UR"] = UR
        report_dict["Growth"] = Growth
        all_years.append(report_dict)

#     return jsonify(all_years)
    print(all_years)

In [ ]:
# file_name = 'csv/singapore.csv'
# df=pd.read_csv(file_name)
# df

In [ ]:
# print(df.columns.values)

In [ ]:
# csv = df.to_csv (r'csv/singapore.csv', index = None, header=True)

In [ ]:
str = "This is a test I antg be toto ajjj annhsd "
print(str.split('/')[0])

In [ ]:
str = "This is a test"
print(str.split(" ",2))