In [1]:
import pandas as pd
# import sqlalchemy
# from sqlalchemy.ext.automap import automap_base
# from sqlalchemy.orm import Session
# from sqlalchemy import create_engine, inspect, func

In [7]:
file_name = 'csv/singapore.csv'
df=pd.read_csv(file_name)
df

,Unnamed: 0,Year,GDP,Growth,Inflation,UR,EXR (SGD per USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,0,2013,307576.4,4.8,2.4,1.9,1.3,5399.2,40.4,1556.0,115000.0,4184.5
1,1,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2,2,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
3,3,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
4,4,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
5,5,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1

In [ ]:
print(df.columns.values)

In [3]:
del df['Unnamed: 0']

In [4]:
df

,Year,GDP,Growth,Inflation,UR,EXR_(GBP_per_USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,2785560.9,2.1,2.6,7.6,0.6,63905.3,39.8,26828.5,1710229.8,53816.9
1,2014,3065676.2,2.6,1.5,6.2,0.6,64351.2,39.9,27023.1,1872451.1,55269.5
2,2015,2929055.6,2.4,0.1,5.4,0.7,64853.4,40.0,27241.0,1789546.7,55960.8
3,2016,2693105.6,1.9,0.6,4.9,0.7,65379.0,40.0,27468.4,1657204.1,58152.9
4,2017,2668098.1,1.9,2.7,4.4,0.8,65844.1,40.0,27669.9,1645541.2,58528.7
5,2018,2854909.4,1.4,2.5,4.1,0.7,66273.6,40.1,27856.2,1776526.6,59144.2

In [5]:
csv = df.to_csv (r'csv/singapore.csv', index = None, header=True)

In [6]:
file_name = 'csv/singapore.csv'
data=pd.read_csv(file_name)
data

,Year,GDP,Growth,Inflation,UR,EXR_(GBP_per_USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,2785560.9,2.1,2.6,7.6,0.6,63905.3,39.8,26828.5,1710229.8,53816.9
1,2014,3065676.2,2.6,1.5,6.2,0.6,64351.2,39.9,27023.1,1872451.1,55269.5
2,2015,2929055.6,2.4,0.1,5.4,0.7,64853.4,40.0,27241.0,1789546.7,55960.8
3,2016,2693105.6,1.9,0.6,4.9,0.7,65379.0,40.0,27468.4,1657204.1,58152.9
4,2017,2668098.1,1.9,2.7,4.4,0.8,65844.1,40.0,27669.9,1645541.2,58528.7
5,2018,2854909.4,1.4,2.5,4.1,0.7,66273.6,40.1,27856.2,1776526.6,59144.2