In [1]:
import pandas as pd
import numpy as np

df= pd.read_csv("csv/country.csv")
df.head(100)

,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_age_population,Households_number,Consumer_Expenditure,internet_Users,country
0,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9,china
1,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2,china
2,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1,china
3,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6,china
4,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4,china
5,2014,17527258.3,2.5,1.6,6.2,1.0,318622.5,37.7,123229.0,11509306.2,218081.1,usa
6,2015,18224780.3,2.9,0.1,5.3,1.0,321039.8,37.8,124587.0,11975445.7,224496.5,usa
7,2016,18715040.5,1.6,1.3,4.9,1.0,323405.9,37.9,125819.0,12403157.7,259594.6,usa
8,2017,19519423.5,2.4,2.1,4.3,1.0,325719.2,38.1,126224.0,12948036.6,266839.5,usa
9,2018,20580223.0,2.9,2.4,3.9,1.0,327719.6,38.2,127180.9,13587159.1,273317.0,usa
10,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9,singapore
11,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3,singapore
12,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1,singapore
13,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0,singapore
14,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1,singapore
15,2014,2852165.8,1.0,0.5,10.3,0.8,64028.0,40.9,28047.7,1511623.4,50396.6,france
16,2015,2438207.9,1.1,0.0,10.4,0.9,64300.8,41.2,28255.5,1285488.2,47180.6,france
17,2016,2471285.6,1.1,0.2,10.1,0.9,64468.8,41.4,28409.8,1303328.8,48124.4,france
18,2017,2586577.5,2.3,1.0,9.4,0.9,64618.4,41.7,28550.3,1362036.2,49043.8,france
19,2018,2777622.0,1.7,1.9,9.1,0.8,64725.1,41.9,28666.0,1460049.6,50129.9,france
20,2014,3065676.2,2.6,1.5,6.2,0.6,64351.2,39.9,27023.1,1872451.1,55269.5,uk
21,2015,2929055.6,2.4,0.1,5.4,0.7,64853.4,40.0,27241.0,1789546.7,55960.8,uk
22,2016,2693105.6,1.9,0.6,4.9,0.7,65379.0,40.0,27468.4,1657204.1,58152.9,uk
23,2017,2668098.1,1.9,2.7,4.4,0.8,65844.1,40.0,27669.9,1645541.2,58528.7,uk
24,2018,2854909.4,1.4,2.5,4.1,0.7,66273.6,40.1,27856.2,1776526.6,59144.2,uk

In [2]:
import plotly.graph_objs as go

In [4]:
# data = df.drop([0,11,17,18,24])
# pd.pivot_table(data,index=["Year"], columns=["country"],values=['Growth','Inflation','UR','ER'])
pv = pd.pivot_table(df,index=["country"], columns=["Year"],values=['Growth','Inflation','UR','ER'])

In [ ]:
trace1 = go.Scatter(x=pv.index,y=pv[('Year', 'Growth')], name='test' )
trace2 = go.Scatter(x=pv.index,y=pv[('Year', 'Growth')], name='test2' )
trace3 = go.Scatter(x=pv.index,y=pv[('Year', 'Growth')], name='test3' )
trace4 = go.Scatter(x=pv.index,y=pv[('Year', 'Growth')], name='test4' )
trace5 = go.Scatter(x=pv.index,y=pv[('Year', 'Growth')], name='test5' )

In [ ]:
# data["country"] = data["country"].astype("category")
# data["country"].cat.set_categories(["china","usa","singapore","france","uk"],inplace=True)
# data.head()

In [ ]:
df1 = pd.read_csv("china.csv")
df2 = pd.read_csv("usa.csv")
df3 = pd.read_csv("singapore.csv")
df4 = pd.read_csv("france.csv")
df5 = pd.read_csv("UK.csv")

In [ ]:
df3['country'] = "singapore"
df3.head()

In [ ]:
df5.rename( columns= {'EXR_(GBP_per_USD)': 'ER',
                      'Internet_Users':'internet_Users',
                          'Avg_Age_population': 'Avg_age_population'}, inplace=True)

df5['country'] = "uk"
df5.head(2)

In [ ]:
df4.rename ( columns= {'EXR_(EUR_per_USD)': 'ER',
                       'Internet_Users':'internet_Users',
                          'Avg_Age_population': 'Avg_age_population'}, inplace=True)
del df4['Unnamed: 0']

df4['country'] = "france"
df4.head()

In [ ]:
df1.rename( columns= {'EXR_(CNY_per_USD)': 'ER',
                          'Internet_Users':'internet_Users',
                          'Avg_Age_population': 'Avg_age_population'}, inplace=True)


df1['country'] = "china"
df1.head(3)

In [ ]:
del df2['id']
df2['country'] = "usa"
df2.head(3)

In [ ]:

df = [df1,df2,df3,df4,df5]

In [ ]:
data = pd.concat(df).reset_index(drop=True)

In [ ]:
# df.rename( columns= { 'GDP (Mil)': 'GDP',
#                        'GDP Growth (%)': 'Growth', 
#                        'Inflation (%)': 'Inflation',
#                       'UR (% econ active pop)': 'UR',
#                       'Exchange Rates Against US Dollar (USD per USD)': 'ER',
#                       "Total Population ('000)": 'Population',
#                       'Median Age of Population (years)': 'Avg_Age_population' ,
#                        "Number of Households ('000)": "Households_number",
#                        'Consumer Expenditure (USD million)': 'Consumer_Expenditure',
#                        "Internet Users ('000)": 'Internet_Users',
#                     'Exchange Rates Against US Dollar (CNY per USD)': 'EXR_(CNY_per_USD)'},inplace=True)
data.head(100)

In [ ]:
export_csv = data.to_csv (r'country.csv', index = None, header=True)

In [ ]:
# print (df.columns.values )
# print(df_copy.dtypes)
# print(df_copy.index.name)
# df_c = df_copy.transpose()
# df_c
# print(df_copy.columns.values)
# df_c.reset_index(inplace=True)
# print(df_c.index)
# list(df.columns.values)
# df_c.set_index('Year')

In [ ]:
data = pd.read_csv("country.csv")
data.head()

In [ ]:
list(data.columns)[0:]