In [1]:
import os
import sys

from sqlalchemy import inspect,Column,String,Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session, relationship

In [2]:
Base = declarative_base()

In [3]:
class singapore(Base):
    __tablename__ = "singapore"
    index = Column(Integer, primary_key=True)
#     id = Column(Integer, primary_key=True)
    Year = Column(String)
    GDP = Column(Integer)
    Growth = Column(Integer)
    Inflation = Column(Integer)
    UR = Column(Integer)
    ER= Column(Integer)
    Population = Column(Integer)
    Avg_Age_population = Column(Integer)
    Households_number  = Column(Integer)
    Consumer_Expenditure  = Column(Integer)
    Internet_Users  = Column(Integer)

In [4]:

engine = create_engine('sqlite:///DB/country.db', echo=False)

# conn = engine.connect()

In [5]:
Base.metadata.create_all(engine)

In [ ]:
session = Session(bind=engine)

In [6]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['singapore', 'usa']

In [7]:
file_name = 'csv/singapore.csv'
df=pd.read_csv(file_name)
df.to_sql('singapore',con=engine, if_exists='append')

In [8]:

Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['singapore', 'usa']

In [9]:
engine.execute('SELECT * FROM singapore LIMIT 5').fetchall()

[(0, '2014', 314863.6, 3.9, 1, 1.9, 1.3, 5469.7, 41, 1594.7, 117524.9, 4141.9),
 (1, '2015', 307998.4, 2.9, -0.5, 1.9, 1.4, 5535, 41.6, 1632.7, 112543.8, 4189.3),
 (2, '2016', 318059.2, 3, -0.5, 2.1, 1.4, 5607.3, 42.2, 1673.8, 116071.1, 4537.1),
 (3, '2017', 338400.8, 3.7, 0.6, 2.2, 1.4, 5612.3, 42.8, 1700.7, 121084.5, 4547),
 (4, '2018', 363744.8, 3.1, 0.4, 2.1, 1.4, 5661, 43.3, 1733.7, 127859.8, 4792.1)]

In [10]:
inspector = inspect(engine)
columns = inspector.get_columns('singapore')
for c in columns:
    print(c['name'], c["type"])

index INTEGER
Year VARCHAR
GDP INTEGER
Growth INTEGER
Inflation INTEGER
UR INTEGER
ER INTEGER
Population INTEGER
Avg_Age_population INTEGER
Households_number INTEGER
Consumer_Expenditure INTEGER
Internet_Users INTEGER