In [3]:
import pandas as pd
import json

import plotly.express as px
import plotly
import plotly.graph_objs as go
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

engine = create_engine('sqlite:///app/db/country.db', echo=False)
session = Session(engine)


Base = automap_base()
Base.prepare(engine, reflect=True)

country = Base.classes.country

In [4]:
stmt = session.query(country).statement
df= pd.read_sql_query(stmt, session.bind)

df.head()

,index,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_age_population,Households_number,Consumer_Expenditure,internet_Users,country
0,0,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9,china
1,1,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2,china
2,2,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1,china
3,3,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6,china
4,4,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4,china

In [ ]:
# dfcap = df[(df['country'] == 'china') | (df['country'] == 'usa') | (df['country'] == 'uk') |
#                (df['country'] == 'singapore')]

# chart_data = dfcap.to_dict(orient="records")
# chart_data = json.dumps(chart_data)
# data= {'chart_data': chart_data}

In [ ]:
#  results = session.query(country.Year,country).\
#                         filter(Measurement.date > begin_date).\
# #                         order_by(Measurement.date).all()

# print(data)

In [ ]:
# results = engine.execute('SELECT Year,country,UR,Growth,inflation,ER,Population FROM country')
# df = pd.DataFrame(results, columns=['Year','country','UR','Growth','inflation','ER','Population'])
# chart_data = df.to_dict(orient="records")
# chart_data = json.dumps(chart_data)
# data= {'chart_data': chart_data}

In [5]:
results = engine.execute('SELECT Year,country,UR,Growth,GDP,inflation,ER,Population FROM country')

cols=['Year','country','UR','Growth','GDP','inflation','ER','Population']
dat = pd.DataFrame(list(results), columns=cols)
data1 = dat[(df['Year'] == '2018')]
usa = df[(df['country'] == 'usa')]
china = df[(df.country == 'china')]
# chart_data = df.to_dict(orient="records")
# chart_data = json.dumps(chart_data)
# data= {'chart_data': chart_data}
data1.head()

    Year    country   UR  Growth         GDP  inflation   ER  Population
4   2018      china  3.9     6.6  13608151.9        2.1  6.6   1390080.0
9   2018        usa  3.9     2.9  20580223.0        2.4  1.0    327719.6
14  2018  singapore  2.1     3.1    363744.8        0.4  1.4      5661.0
19  2018     france  9.1     1.7   2777622.0        1.9  0.8     64725.1
24  2018         uk  4.1     1.4   2854909.4        2.5  0.7     66273.6

In [ ]:
trace1 = go.Bar(name='China',
    x=china.Year,
    y=china['UR'])
trace2 = go.Bar(name='USA',
    x=usa.Year,
    y=usa['UR'])

data = [trace1,trace2]
layout = go.Layout(
    title='Test',yaxis=dict(
        title= 'unemployment rate'
    ))
fig = go.Figure(data = data , layout = layout)
fig.update_layout(barmode='group')

fig.show()

In [7]:
trace = go.Scatter(
    x=df.country,
    y=df['UR'],
    mode='markers',
    marker=dict(
        color=df['Year'],
        size=df['UR']
    )
Data = [trace]
layout= go.Layout(
    title='Testing'
)
)
fig= go.Figure(data=Data, layout=layout)
fig.show()

SyntaxError: invalid syntax (<ipython-input-7-16d157bd13d9>, line 9)

In [ ]:
fig= px.scatter(df, x="country", y="UR", color='Year', size='UR',hover_data=['Growth'])

fig.show()

In [ ]:





usa = df[(df['country'] == 'usa')]
china = df[(df.country == 'china')]
singapore = df[(df.country == 'singapore')]
france = df[(df.country == 'france')]
uk = df[(df.country == 'uk')]

usa.head()

In [ ]:
fig = go.Figure()
fig.add_tr

In [ ]:
fig = px.bar(df, x='Year', y='Growth',
            color='UR', facet_col='country', width = 800)
fig.show()

In [ ]:
df.head()

In [ ]:
fig = px.line(df, x='Year', y='UR', color = 'country')
fig.update_traces(mode='markers+lines')
fig.show()

In [ ]:
fig = px.bar( df_test, x='Year', y='norm_Growth', color='Growth',
    facet_row="country",
    hover_name='country'
   
)
fig.update_layout(
plot_bgcolor="white",
)
fig.show(config={'displayModeBar': False})

In [ ]:
four = df.loc[df["Year"]=="2014",:]
five = df.loc[df["Year"]=="2015",:]
six  = df.loc[df["Year"]=="2016",:]
seven  = df.loc[df["Year"]=="2017",:]
eight = df.loc[df["Year"]=="2018",:]

In [ ]:
# test = [four,five,six,seven,eight]
# test_zip = zip(test)
# test_data = dict(test_zip)
# # test_data = json.dumps(dic, indent=2)
# # data= {'test_data': test_data}
# print(test_data)

In [ ]:
print(test_year)

In [ ]:
 Create a zip object from two lists
zipbObj = zip(listOfStr, listOfInt)
 
# Create a dictionary from zip object
dictOfWords = dict(zipbObj)