In [19]:
import csv
import requests
import pandas as pd





url = "https://www.euromonitor.com/usa/country-factfile"
tables = pd.read_html(url)
tables

[            Area
 0  9,363,130 km2,                       Currency
 0  US dollar (US$ = 100 cents),           Capital
 0  Washington, DC,             Head of State
 0  Donald J. Trump (2017),                                           Unnamed: 0        2013        2014  \
 0                                  GDP (USD million)  16784851.0  17527258.3
 1                         Real GDP Growth (% growth)         1.8         2.5
 2                               Inflation (% growth)         1.5         1.6
 3  Unemployment Rate (% of economically active po...         7.4         6.2
 4     Exchange Rates Against US Dollar (USD per USD)         1.0         1.0

          2015        2016        2017        2018
 0  18224780.3  18715040.5  19519423.5  20580223.0
 1         2.9         1.6         2.4         2.9
 2         0.1         1.3         2.1         2.4
 3         5.3         4.9         4.3         3.9
 4         1.0         1.0         1.0         1.0  ,                            Unnamed: 0        2013        2014        2015  \
 0             Total Population ('000)    316234.5    318622.5    321039.8
 1    Median Age of Population (years)        37.6        37.7        37.8
 2         Number of Households ('000)    122459.0    123229.0    124587.0
 3  Consumer Expenditure (USD million)  11015084.2  11509306.2  11975445.7
 4               Internet Users ('000)    211614.3    218081.1    224496.5

          2016        2017        2018
 0    323405.9    325719.2    327719.6
 1        37.9        38.1        38.2
 2    125819.0    126224.0    127180.9
 3  12403157.7  12948036.6  13587159.1
 4    259594.6    266839.5    273317.0  ]

In [20]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True)

In [21]:
frames= [df,df2]
data = pd.concat(frames)

In [22]:
# convertcsv = df2.to_csv (r'data/uk.csv', index = None, header=True)
data.head(12)

,Economies,2013,2014,2015,2016,2017,2018
0,GDP (USD million),16784851.0,17527258.3,18224780.3,18715040.5,19519423.5,20580223.0
1,Real GDP Growth (% growth),1.8,2.5,2.9,1.6,2.4,2.9
2,Inflation (% growth),1.5,1.6,0.1,1.3,2.1,2.4
3,Unemployment Rate (% of economically active po...,7.4,6.2,5.3,4.9,4.3,3.9
4,Exchange Rates Against US Dollar (USD per USD),1.0,1.0,1.0,1.0,1.0,1.0
0,Total Population ('000),316234.5,318622.5,321039.8,323405.9,325719.2,327719.6
1,Median Age of Population (years),37.6,37.7,37.8,37.9,38.1,38.2
2,Number of Households ('000),122459.0,123229.0,124587.0,125819.0,126224.0,127180.9
3,Consumer Expenditure (USD million),11015084.2,11509306.2,11975445.7,12403157.7,12948036.6,13587159.1
4,Internet Users ('000),211614.3,218081.1,224496.5,259594.6,266839.5,273317.0

In [24]:
data.set_index('Economies', inplace = True)
data.head(3)

KeyError: "None of ['Economies'] are in the columns"

In [25]:
data.index.name = None
print(data.index.name)

None

In [26]:
data_t = data.transpose()
data_t.head(4)

,GDP (USD million),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (USD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
2013,16784851.0,1.8,1.5,7.4,1.0,316234.5,37.6,122459.0,11015084.2,211614.3
2014,17527258.3,2.5,1.6,6.2,1.0,318622.5,37.7,123229.0,11509306.2,218081.1
2015,18224780.3,2.9,0.1,5.3,1.0,321039.8,37.8,124587.0,11975445.7,224496.5
2016,18715040.5,1.6,1.3,4.9,1.0,323405.9,37.9,125819.0,12403157.7,259594.6

In [27]:
data_t.reset_index(inplace=True)
data_t.rename( columns= {'index': 'Year', 'GDP (USD million)': 'GDP (Mil)'}, inplace=True)
data_t

,Year,GDP (Mil),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (USD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,16784851.0,1.8,1.5,7.4,1.0,316234.5,37.6,122459.0,11015084.2,211614.3
1,2014,17527258.3,2.5,1.6,6.2,1.0,318622.5,37.7,123229.0,11509306.2,218081.1
2,2015,18224780.3,2.9,0.1,5.3,1.0,321039.8,37.8,124587.0,11975445.7,224496.5
3,2016,18715040.5,1.6,1.3,4.9,1.0,323405.9,37.9,125819.0,12403157.7,259594.6
4,2017,19519423.5,2.4,2.1,4.3,1.0,325719.2,38.1,126224.0,12948036.6,266839.5
5,2018,20580223.0,2.9,2.4,3.9,1.0,327719.6,38.2,127180.9,13587159.1,273317.0

In [28]:
print(data_t.columns.values)

['Year' 'GDP (Mil)' 'Real GDP Growth (% growth)' 'Inflation (% growth)'
 'Unemployment Rate (% of economically active population)'
 'Exchange Rates Against US Dollar (USD per USD)'
 "Total Population ('000)" 'Median Age of Population (years)'
 "Number of Households ('000)" 'Consumer Expenditure (USD million)'
 "Internet Users ('000)"]

In [29]:
data_t.rename( columns = {'Real GDP Growth (% growth)': 'GDP Growth (%)',
                            'Inflation (% growth)': 'Inflation (%)', 
                         'Unemployment Rate (% of economically active population)': 'UR (% econ active pop)',
                         'Exchange Rates Against US Dollar (SGD per USD)': 'EXR (SGD per USD)'}, inplace=True)
data_t

,Year,GDP (Mil),GDP Growth (%),Inflation (%),UR (% econ active pop),Exchange Rates Against US Dollar (USD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,16784851.0,1.8,1.5,7.4,1.0,316234.5,37.6,122459.0,11015084.2,211614.3
1,2014,17527258.3,2.5,1.6,6.2,1.0,318622.5,37.7,123229.0,11509306.2,218081.1
2,2015,18224780.3,2.9,0.1,5.3,1.0,321039.8,37.8,124587.0,11975445.7,224496.5
3,2016,18715040.5,1.6,1.3,4.9,1.0,323405.9,37.9,125819.0,12403157.7,259594.6
4,2017,19519423.5,2.4,2.1,4.3,1.0,325719.2,38.1,126224.0,12948036.6,266839.5
5,2018,20580223.0,2.9,2.4,3.9,1.0,327719.6,38.2,127180.9,13587159.1,273317.0

In [31]:
csv = data_t.to_csv (r'data/usa.csv', index = None, header=True)

In [32]:
path = "data/usa.csv"
df = pd.read_csv(path)
df.head(10)

,Year,GDP (Mil),GDP Growth (%),Inflation (%),UR (% econ active pop),Exchange Rates Against US Dollar (USD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,16784851.0,1.8,1.5,7.4,1.0,316234.5,37.6,122459.0,11015084.2,211614.3
1,2014,17527258.3,2.5,1.6,6.2,1.0,318622.5,37.7,123229.0,11509306.2,218081.1
2,2015,18224780.3,2.9,0.1,5.3,1.0,321039.8,37.8,124587.0,11975445.7,224496.5
3,2016,18715040.5,1.6,1.3,4.9,1.0,323405.9,37.9,125819.0,12403157.7,259594.6
4,2017,19519423.5,2.4,2.1,4.3,1.0,325719.2,38.1,126224.0,12948036.6,266839.5
5,2018,20580223.0,2.9,2.4,3.9,1.0,327719.6,38.2,127180.9,13587159.1,273317.0

In [ ]:
.