In [15]:
import csv
import requests
import pandas as pd





url = "https://www.euromonitor.com/singapore/country-factfile"
tables = pd.read_html(url)
tables

[      Area
 0  692 km2,                             Currency
 0  Singapore dollar (S$ = 100 cents),      Capital
 0  Singapore,           Head of State
 0  Halimah Yacob (2017),                                           Unnamed: 0      2014      2015  \
 0                                  GDP (USD million)  314863.6  307998.4
 1                         Real GDP Growth (% growth)       3.9       2.9
 2                               Inflation (% growth)       1.0      -0.5
 3  Unemployment Rate (% of economically active po...       1.9       1.9
 4     Exchange Rates Against US Dollar (SGD per USD)       1.3       1.4

        2016      2017      2018      2019
 0  318059.2  338400.8  363744.8  366453.9
 1       3.0       3.7       3.1       0.7
 2      -0.5       0.6       0.4       0.6
 3       2.1       2.2       2.1       2.3
 4       1.4       1.4       1.4       1.4  ,                            Unnamed: 0      2014      2015      2016      2017  \
 0             Total Population ('000)    5469.7    5535.0    5607.3    5612.3
 1    Median Age of Population (years)      41.0      41.6      42.2      42.8
 2         Number of Households ('000)    1594.7    1632.7    1673.8    1700.7
 3  Consumer Expenditure (USD million)  117524.9  112543.8  116071.1  121084.5
 4               Internet Users ('000)    4141.9    4189.3    4537.1    4547.0

        2018      2019
 0    5661.0    5707.0
 1      43.3      43.9
 2    1733.7    1762.7
 3  127859.8  133900.0
 4    4792.1    4916.3  ]

In [16]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df

,Economies,2014,2015,2016,2017,2018,2019
0,GDP (USD million),314863.6,307998.4,318059.2,338400.8,363744.8,366453.9
1,Real GDP Growth (% growth),3.9,2.9,3.0,3.7,3.1,0.7
2,Inflation (% growth),1.0,-0.5,-0.5,0.6,0.4,0.6
3,Unemployment Rate (% of economically active po...,1.9,1.9,2.1,2.2,2.1,2.3
4,Exchange Rates Against US Dollar (SGD per USD),1.3,1.4,1.4,1.4,1.4,1.4

In [17]:
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df2

,Economies,2014,2015,2016,2017,2018,2019
0,Total Population ('000),5469.7,5535.0,5607.3,5612.3,5661.0,5707.0
1,Median Age of Population (years),41.0,41.6,42.2,42.8,43.3,43.9
2,Number of Households ('000),1594.7,1632.7,1673.8,1700.7,1733.7,1762.7
3,Consumer Expenditure (USD million),117524.9,112543.8,116071.1,121084.5,127859.8,133900.0
4,Internet Users ('000),4141.9,4189.3,4537.1,4547.0,4792.1,4916.3

In [18]:
frames= [df,df2]
data = pd.concat(frames)

In [19]:
# convertcsv = df2.to_csv (r'data/uk.csv', index = None, header=True)
data.head(12)

,Economies,2014,2015,2016,2017,2018,2019
0,GDP (USD million),314863.6,307998.4,318059.2,338400.8,363744.8,366453.9
1,Real GDP Growth (% growth),3.9,2.9,3.0,3.7,3.1,0.7
2,Inflation (% growth),1.0,-0.5,-0.5,0.6,0.4,0.6
3,Unemployment Rate (% of economically active po...,1.9,1.9,2.1,2.2,2.1,2.3
4,Exchange Rates Against US Dollar (SGD per USD),1.3,1.4,1.4,1.4,1.4,1.4
0,Total Population ('000),5469.7,5535.0,5607.3,5612.3,5661.0,5707.0
1,Median Age of Population (years),41.0,41.6,42.2,42.8,43.3,43.9
2,Number of Households ('000),1594.7,1632.7,1673.8,1700.7,1733.7,1762.7
3,Consumer Expenditure (USD million),117524.9,112543.8,116071.1,121084.5,127859.8,133900.0
4,Internet Users ('000),4141.9,4189.3,4537.1,4547.0,4792.1,4916.3

In [20]:
data.set_index('Economies', inplace = True)
data.head(3)

,2014,2015,2016,2017,2018,2019
Economies,,,,,,
GDP (USD million),314863.6,307998.4,318059.2,338400.8,363744.8,366453.9
Real GDP Growth (% growth),3.9,2.9,3.0,3.7,3.1,0.7
Inflation (% growth),1.0,-0.5,-0.5,0.6,0.4,0.6

In [21]:
data.index.name = None
print(data.index.name)

None

In [22]:
data_t = data.transpose()
data_t.head(4)

,GDP (USD million),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0

In [23]:
data_t.reset_index(inplace=True)
data_t.rename( columns= {'index': 'Year', 'GDP (USD million)': 'GDP'}, inplace=True)
data_t

,Year,GDP,Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
1,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
2,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
3,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
4,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1
5,2019,366453.9,0.7,0.6,2.3,1.4,5707.0,43.9,1762.7,133900.0,4916.3

In [10]:
# data_t.insert(0, "id", [0,1,2,3,4,5], True)

In [24]:
print(data_t.columns.values)

['Year' 'GDP' 'Real GDP Growth (% growth)' 'Inflation (% growth)'
 'Unemployment Rate (% of economically active population)'
 'Exchange Rates Against US Dollar (SGD per USD)'
 "Total Population ('000)" 'Median Age of Population (years)'
 "Number of Households ('000)" 'Consumer Expenditure (USD million)'
 "Internet Users ('000)"]

In [25]:
data_t.rename( columns = {'Real GDP Growth (% growth)': 'Growth', 
                       'Inflation (% growth)': 'Inflation',
                      'Unemployment Rate (% of economically active population)': 'UR',
                          'Exchange Rates Against US Dollar (SGD per USD)':'ER',
                          "Total Population ('000)": 'Population',
                          'Median Age of Population (years)': 'Avg_age_population',
                          "Number of Households ('000)": 'Households_number',
                          'Consumer Expenditure (USD million)': 'Consumer_Expenditure',
                          "Internet Users ('000)": 'internet_Users'
                          
                      },inplace=True)
data_t

,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_age_population,Households_number,Consumer_Expenditure,internet_Users
0,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
1,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
2,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
3,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
4,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1
5,2019,366453.9,0.7,0.6,2.3,1.4,5707.0,43.9,1762.7,133900.0,4916.3

In [26]:
csv = data_t.to_csv (r'csv/singapore.csv', index = None, header=True)

In [27]:
path = "csv/singapore.csv"
df = pd.read_csv(path)
df.head(10)

,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_age_population,Households_number,Consumer_Expenditure,internet_Users
0,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
1,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
2,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
3,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
4,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1
5,2019,366453.9,0.7,0.6,2.3,1.4,5707.0,43.9,1762.7,133900.0,4916.3

In [ ]:
df.insert(0, "id", [0,1,2,3,4,5], True) 
df

In [ ]:
csv = df.to_csv (r'csv/usatwo.csv', index = None, header=True)