In [67]:
import csv
import requests
import pandas as pd





url = "https://www.euromonitor.com/singapore/country-factfile"
tables = pd.read_html(url)
tables

[      Area
 0  692 km2,                             Currency
 0  Singapore dollar (S$ = 100 cents),      Capital
 0  Singapore,           Head of State
 0  Halimah Yacob (2017),                                           Unnamed: 0      2013      2014  \
 0                                  GDP (USD million)  307576.4  314863.6
 1                         Real GDP Growth (% growth)       4.8       3.9
 2                               Inflation (% growth)       2.4       1.0
 3  Unemployment Rate (% of economically active po...       1.9       1.9
 4     Exchange Rates Against US Dollar (SGD per USD)       1.3       1.3

        2015      2016      2017      2018
 0  307998.4  318059.2  338400.8  363744.8
 1       2.9       3.0       3.7       3.1
 2      -0.5      -0.5       0.6       0.4
 3       1.9       2.1       2.2       2.1
 4       1.4       1.4       1.4       1.4  ,                            Unnamed: 0      2013      2014      2015      2016  \
 0             Total Population ('000)    5399.2    5469.7    5535.0    5607.3
 1    Median Age of Population (years)      40.4      41.0      41.6      42.2
 2         Number of Households ('000)    1556.0    1594.7    1632.7    1673.8
 3  Consumer Expenditure (USD million)  115000.0  117524.9  112543.8  116071.1
 4               Internet Users ('000)    4184.5    4141.9    4189.3    4537.1

        2017      2018
 0    5612.3    5661.0
 1      42.8      43.3
 2    1700.7    1733.7
 3  121084.5  127859.8
 4    4547.0    4792.1  ]

In [68]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True)

In [69]:
frames= [df,df2]
data = pd.concat(frames)

In [70]:
# convertcsv = df2.to_csv (r'data/uk.csv', index = None, header=True)
data.head(12)

,Economies,2013,2014,2015,2016,2017,2018
0,GDP (USD million),307576.4,314863.6,307998.4,318059.2,338400.8,363744.8
1,Real GDP Growth (% growth),4.8,3.9,2.9,3.0,3.7,3.1
2,Inflation (% growth),2.4,1.0,-0.5,-0.5,0.6,0.4
3,Unemployment Rate (% of economically active po...,1.9,1.9,1.9,2.1,2.2,2.1
4,Exchange Rates Against US Dollar (SGD per USD),1.3,1.3,1.4,1.4,1.4,1.4
0,Total Population ('000),5399.2,5469.7,5535.0,5607.3,5612.3,5661.0
1,Median Age of Population (years),40.4,41.0,41.6,42.2,42.8,43.3
2,Number of Households ('000),1556.0,1594.7,1632.7,1673.8,1700.7,1733.7
3,Consumer Expenditure (USD million),115000.0,117524.9,112543.8,116071.1,121084.5,127859.8
4,Internet Users ('000),4184.5,4141.9,4189.3,4537.1,4547.0,4792.1

In [71]:
data.set_index('Economies', inplace = True)
data.head(3)

,2013,2014,2015,2016,2017,2018
Economies,,,,,,
GDP (USD million),307576.4,314863.6,307998.4,318059.2,338400.8,363744.8
Real GDP Growth (% growth),4.8,3.9,2.9,3.0,3.7,3.1
Inflation (% growth),2.4,1.0,-0.5,-0.5,0.6,0.4

In [72]:
data.index.name = None
print(data.index.name)

None

In [73]:
data_t = data.transpose()
data_t.head(4)

,GDP (USD million),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
2013,307576.4,4.8,2.4,1.9,1.3,5399.2,40.4,1556.0,115000.0,4184.5
2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1

In [74]:
data_t.reset_index(inplace=True)
data_t.rename( columns= {'index': 'Year', 'GDP (USD million)': 'GDP (Mil)'}, inplace=True)
data_t

,Year,GDP (Mil),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,307576.4,4.8,2.4,1.9,1.3,5399.2,40.4,1556.0,115000.0,4184.5
1,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
3,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
4,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
5,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1

In [75]:
print(data_t.columns.values)

['Year' 'GDP (Mil)' 'Real GDP Growth (% growth)' 'Inflation (% growth)'
 'Unemployment Rate (% of economically active population)'
 'Exchange Rates Against US Dollar (SGD per USD)'
 "Total Population ('000)" 'Median Age of Population (years)'
 "Number of Households ('000)" 'Consumer Expenditure (USD million)'
 "Internet Users ('000)"]

In [76]:
data_t.rename( columns = {'Real GDP Growth (% growth)': 'GDP Growth (%)',
                            'Inflation (% growth)': 'Inflation (%)', 
                         'Unemployment Rate (% of economically active population)': 'UR (% econ active pop)',
                         'Exchange Rates Against US Dollar (SGD per USD)': 'EXR (SGD per USD)'}, inplace=True)
data_t

,Year,GDP (Mil),GDP Growth (%),Inflation (%),UR (% econ active pop),EXR (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,307576.4,4.8,2.4,1.9,1.3,5399.2,40.4,1556.0,115000.0,4184.5
1,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
3,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
4,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
5,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1

In [77]:
csv = data_t.to_csv (r'data/singapore.csv', index = None, header=True)

In [78]:
path = "data/singapore.csv"
df = pd.read_csv(path)
df.head(10)

,Year,GDP (Mil),GDP Growth (%),Inflation (%),UR (% econ active pop),EXR (SGD per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,307576.4,4.8,2.4,1.9,1.3,5399.2,40.4,1556.0,115000.0,4184.5
1,2014,314863.6,3.9,1.0,1.9,1.3,5469.7,41.0,1594.7,117524.9,4141.9
2,2015,307998.4,2.9,-0.5,1.9,1.4,5535.0,41.6,1632.7,112543.8,4189.3
3,2016,318059.2,3.0,-0.5,2.1,1.4,5607.3,42.2,1673.8,116071.1,4537.1
4,2017,338400.8,3.7,0.6,2.2,1.4,5612.3,42.8,1700.7,121084.5,4547.0
5,2018,363744.8,3.1,0.4,2.1,1.4,5661.0,43.3,1733.7,127859.8,4792.1