In [1]:
import csv
import requests
import pandas as pd

In [2]:
url = "https://www.euromonitor.com/france/country-factfile"

In [3]:
tables = pd.read_html(url)
tables

[          Area
 0  543,965 km2,                Currency
 0  Euro (â‚¬ = 100 cents),   Capital
 0   Paris,                       Head of State
 0  President Emmanuel Macron (2017),                                           Unnamed: 0       2013       2014  \
 0                                  GDP (USD million)  2811064.9  2852165.8
 1                         Real GDP Growth (% growth)        0.6        1.0
 2                               Inflation (% growth)        0.9        0.5
 3  Unemployment Rate (% of economically active po...       10.3       10.3
 4     Exchange Rates Against US Dollar (EUR per USD)        0.8        0.8

         2015       2016       2017       2018
 0  2438207.9  2471285.6  2586577.5  2777622.0
 1        1.1        1.1        2.3        1.7
 2        0.0        0.2        1.0        1.9
 3       10.4       10.1        9.4        9.1
 4        0.9        0.9        0.9        0.8  ,                            Unnamed: 0       2013       2014       2015  \
 0             Total Population ('000)    63697.9    64028.0    64300.8
 1    Median Age of Population (years)       40.7       40.9       41.2
 2         Number of Households ('000)    27808.8    28047.7    28255.5
 3  Consumer Expenditure (USD million)  1505504.3  1511623.4  1285488.2
 4               Internet Users ('000)    49004.1    50396.6    47180.6

         2016       2017       2018
 0    64468.8    64618.4    64725.1
 1       41.4       41.7       41.9
 2    28409.8    28550.3    28666.0
 3  1303328.8  1362036.2  1460049.6
 4    48124.4    49043.8    50129.9  ]

In [4]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True)

In [36]:
frames= [df,df2]
data = pd.concat(frames)

In [37]:
# convertcsv = df2.to_csv (r'data/uk.csv', index = None, header=True)
data.head(100)

,Economies,2013,2014,2015,2016,2017,2018
0,GDP (USD million),2811064.9,2852165.8,2438207.9,2471285.6,2586577.5,2777622.0
1,Real GDP Growth (% growth),0.6,1.0,1.1,1.1,2.3,1.7
2,Inflation (% growth),0.9,0.5,0.0,0.2,1.0,1.9
3,Unemployment Rate (% of economically active po...,10.3,10.3,10.4,10.1,9.4,9.1
4,Exchange Rates Against US Dollar (EUR per USD),0.8,0.8,0.9,0.9,0.9,0.8
0,Total Population ('000),63697.9,64028.0,64300.8,64468.8,64618.4,64725.1
1,Median Age of Population (years),40.7,40.9,41.2,41.4,41.7,41.9
2,Number of Households ('000),27808.8,28047.7,28255.5,28409.8,28550.3,28666.0
3,Consumer Expenditure (USD million),1505504.3,1511623.4,1285488.2,1303328.8,1362036.2,1460049.6
4,Internet Users ('000),49004.1,50396.6,47180.6,48124.4,49043.8,50129.9

In [38]:
csv = data.to_csv (r'data/france.csv', index = None, header=True)