In [1]:
import csv
import requests
import pandas as pd





url = "https://www.euromonitor.com/china/country-factfile"
tables = pd.read_html(url)
tables

[            Area
 0  9,597,000 km2,                    Currency
 0  Renminbi (RMD = 100 fen),    Capital
 0  Beijing,                  Head of State
 0  President Xi Jinping (2012),                                           Unnamed: 0       2013        2014  \
 0                                  GDP (USD million)  9570302.2  10439965.5
 1                         Real GDP Growth (% growth)        7.8         7.3
 2                               Inflation (% growth)        2.6         1.9
 3  Unemployment Rate (% of economically active po...        3.0         3.1
 4     Exchange Rates Against US Dollar (CNY per USD)        6.2         6.1

          2015        2016        2017        2018
 0  11015504.9  11138042.2  12143201.1  13608151.9
 1         6.9         6.7         6.9         6.6
 2         1.4         2.0         1.6         2.1
 3         3.3         3.6         3.7         3.9
 4         6.2         6.6         6.8         6.6  ,                            Unnamed: 0       2013       2014       2015  \
 0             Total Population ('000)  1354040.0  1360720.0  1367820.0
 1    Median Age of Population (years)       37.1       37.4       37.6
 2         Number of Households ('000)   438932.8   445821.0   452778.1
 3  Consumer Expenditure (USD million)  3562699.2  3943565.5  4256794.1
 4               Internet Users ('000)   584026.3   612755.9   645814.2

         2016       2017       2018
 0  1374620.0  1382710.0  1390080.0
 1       37.8       38.0       38.2
 2   459551.8   466786.8   473844.2
 3  4408443.4  4697194.9  5313865.1
 4   684987.1   702685.6   756755.4  ]

In [2]:
df = tables[4]
df.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True) 
df2 = tables[5]
df2.rename(columns = {'Unnamed: 0':'Economies'}, inplace = True)

In [3]:
frames= [df,df2]
data = pd.concat(frames)

In [4]:
# convertcsv = df2.to_csv (r'data/uk.csv', index = None, header=True)
data.head(12)

,Economies,2013,2014,2015,2016,2017,2018
0,GDP (USD million),9570302.2,10439965.5,11015504.9,11138042.2,12143201.1,13608151.9
1,Real GDP Growth (% growth),7.8,7.3,6.9,6.7,6.9,6.6
2,Inflation (% growth),2.6,1.9,1.4,2.0,1.6,2.1
3,Unemployment Rate (% of economically active po...,3.0,3.1,3.3,3.6,3.7,3.9
4,Exchange Rates Against US Dollar (CNY per USD),6.2,6.1,6.2,6.6,6.8,6.6
0,Total Population ('000),1354040.0,1360720.0,1367820.0,1374620.0,1382710.0,1390080.0
1,Median Age of Population (years),37.1,37.4,37.6,37.8,38.0,38.2
2,Number of Households ('000),438932.8,445821.0,452778.1,459551.8,466786.8,473844.2
3,Consumer Expenditure (USD million),3562699.2,3943565.5,4256794.1,4408443.4,4697194.9,5313865.1
4,Internet Users ('000),584026.3,612755.9,645814.2,684987.1,702685.6,756755.4

In [5]:
data.set_index('Economies', inplace = True)
data.head(3)

,2013,2014,2015,2016,2017,2018
Economies,,,,,,
GDP (USD million),9570302.2,10439965.5,11015504.9,11138042.2,12143201.1,13608151.9
Real GDP Growth (% growth),7.8,7.3,6.9,6.7,6.9,6.6
Inflation (% growth),2.6,1.9,1.4,2.0,1.6,2.1

In [6]:
data.index.name = None
print(data.index.name)

None

In [7]:
data_t = data.transpose()
data_t.head(4)

,GDP (USD million),Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (CNY per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1

In [8]:
data_t.reset_index(inplace=True)
data_t.rename( columns= {'index': 'Year', 'GDP (USD million)': 'GDP'}, inplace=True)
data_t

,Year,GDP,Real GDP Growth (% growth),Inflation (% growth),Unemployment Rate (% of economically active population),Exchange Rates Against US Dollar (CNY per USD),Total Population ('000),Median Age of Population (years),Number of Households ('000),Consumer Expenditure (USD million),Internet Users ('000)
0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1
4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6
5,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4

In [ ]:
print(data_t.columns.values)

In [10]:
data_t.rename( columns = {'Real GDP Growth (% growth)': 'Growth', 
                       'Inflation (% growth)': 'Inflation',
                      'Unemployment Rate (% of economically active population)': 'UR',
                      },inplace=True)
data_t

,Year,GDP,Growth,Inflation,UR,EXR_(CNY_per_USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1
4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6
5,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4

In [11]:
csv = data_t.to_csv (r'data/china.csv', index = None, header=True)

In [12]:
path = "data/china.csv"
df = pd.read_csv(path)
df.head(10)

,Year,GDP,Growth,Inflation,UR,EXR_(CNY_per_USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1
4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6
5,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4