In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect
from sqlalchemy import func, Column, Integer, String, Float

In [ ]:
# from sqlalchemy.ext.declarative import declarative_base
# Base = declarative_base()

In [ ]:
# class Country(Base):
#     __tablename__ = 'surfers'
#     id = Column(Integer, primary_key=True)
#     name = Column(String(255))
#     hometown = Column(String(255))
#     wipeouts = Column(Integer)
#     rank = Column(Integer)

In [3]:
engine = create_engine("sqlite:///usa.sqlite", echo=False)

In [4]:
engine.execute('SELECT * FROM usa LIMIT 5').fetchall()

[('2013', 16784851, 1.8, 1.5, 7.4, 1, 316234.5, 37.6, 122459, 11015084.2, 211614.3),
 ('2014', 17527258.3, 2.5, 1.6, 6.2, 1, 318622.5, 37.7, 123229, 11509306.2, 218081.1),
 ('2015', 18224780.3, 2.9, 0.1, 5.3, 1, 321039.8, 37.8, 124587, 11975445.7, 224496.5),
 ('2016', 18715040.5, 1.6, 1.3, 4.9, 1, 323405.9, 37.9, 125819, 12403157.7, 259594.6),
 ('2017', 19519423.5, 2.4, 2.1, 4.3, 1, 325719.2, 38.1, 126224, 12948036.6, 266839.5)]

In [5]:
inspector = inspect(engine)
columns = inspector.get_columns('usa')
for c in columns:
    print(c['name'], c["type"])

Year TEXT
GDP(Mil) NUMERIC
GDPGrowth(%) NUMERIC
Inflation(%) NUMERIC
UR(%econactivepop) NUMERIC
ExchangeRatesAgainstUSDollar(USDperUSD) NUMERIC
TotalPopulation(000) NUMERIC
MedianAgeofPopulation(years) NUMERIC
NumberofHouseholds(000) NUMERIC
ConsumerExpenditure(USDmillion) NUMERIC
InternetUsers(000) NUMERIC

In [7]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]