In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas
from connect import info

engine = create_engine(info)
Base = automap_base()

In [2]:
inspector = inspect(engine)
inspector.get_table_names()

['actor',
 'store',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film_actor',
 'film_category',
 'inventory',
 'language',
 'rental',
 'staff',
 'payment',
 'film',
 'links',
 'employees']

In [3]:
columns = inspector.get_columns('film')
for c in columns:
    print(c['name'], c["type"])

film_id INTEGER
title VARCHAR(255)
description TEXT
release_year INTEGER
language_id SMALLINT
rental_duration SMALLINT
rental_rate NUMERIC(4, 2)
length SMALLINT
replacement_cost NUMERIC(5, 2)
rating mpaa_rating
last_update TIMESTAMP WITHOUT TIME ZONE
special_features TEXT[]
fulltext TSVECTOR

In [4]:

Base.prepare(engine, reflect=True)
Film = Base.classes.film

In [5]:
session = Session(engine)

In [14]:
results = session.query(Film.film_id, Film.title, Film.rental_rate).\
order_by(Film.rental_rate.desc()).all()

In [12]:
for row in session.query(Film.title, Film.release_year, ).limit(10):
            print(row.title, row.release_year)

Chamber Italian 2006
Grosse Wonderful 2006
Airport Pollock 2006
Bright Encounters 2006
Academy Dinosaur 2006
Ace Goldfinger 2006
Adaptation Holes 2006
Affair Prejudice 2006
African Egg 2006
Agent Truman 2006

In [17]:
df = pandas.DataFrame(results[:10], columns=['Film_id', 'Title', 'rental_rate'])
df.set_index('Film_id', inplace=True)
df.head()

                      Title rental_rate
Film_id
336          French Holiday        4.99
103      Bucket Brotherhood        4.99
338          Frisco Forrest        4.99
694      Prejudice Oleander        4.99
340          Frontier Cabin        4.99

In [ ]:
columns = in