In [1]:
from sqlalchemy import (create_engine,inspect,Column,String,Integer)
from sqlalchemy.ext.declarative import declarative_base

In [2]:

Base = declarative_base()

In [ ]:
class TemplateTable(object):
    id = Column(Integer, primary_key=True)
    year = Column(String)
    GDP = Column(Integer)
    Growth = Column(Integer)
    Inflation = Column(Integer)
    UR = Column(Integer)
    EXR_(CNY_per_USD)= Column(Integer)
    ER  = Column(Integer)
    Population = Column(Integer)
    Avg_Age_population = Column(Integer)
    Households_number  = Column(Integer)
    Consumer_Expenditure  = Column(Integer)
    Internet_Users  = Column(Integer)

In [ ]:
class usa(TemplateTable, Base):
    __tablename__ = "usa"

In [ ]:
# class china(TemplateTable, Base):
#     __tablename__ = "china"

In [3]:

engine=create_engine('sqlite:///countrytwo.sqlite', echo=False)

In [ ]:
Base.metadata.create_all(bind=engine)

In [ ]:
ins = inspect(engine)
for _t in ins.get_table_names():
    print(_t)

In [4]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['china', 'usa']