In [1]:
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
import csv
import pandas as pd


Base = declarative_base()

In [5]:
engine = create_engine("sqlite:///../DB/countrytwo.sqlite")
# Base.metadata.create_all(engine)

In [ ]:
file_name = 'china.csv'
df=pd.read_csv(file_name)
df.to_sql('china',con=engine)

In [6]:
print (engine.table_names())

['china', 'usa']

In [10]:
conn = engine.connect()
data = pd.read_sql("SELECT * FROM usa", conn)

In [11]:
data.head()

,id,year,GDP,Growth,Inflation,UR,ER,Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,0,2013,16784851.0,1.8,1.5,7.4,1,316234.5,37.6,122459.0,11015084.2,211614.3
1,1,2014,17527258.3,2.5,1.6,6.2,1,318622.5,37.7,123229.0,11509306.2,218081.1
2,2,2015,18224780.3,2.9,0.1,5.3,1,321039.8,37.8,124587.0,11975445.7,224496.5
3,3,2016,18715040.5,1.6,1.3,4.9,1,323405.9,37.9,125819.0,12403157.7,259594.6
4,4,2017,19519423.5,2.4,2.1,4.3,1,325719.2,38.1,126224.0,12948036.6,266839.5

In [12]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['china', 'usa']