In [1]:
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, MetaData, Table, Column, ForeignKey

# engine = create_engine("sqlite:///../DB/demo.sqlite")

In [ ]:
print (engine.table_names())

In [ ]:
metadata =MetaData()

In [ ]:
metadata.reflect(engine, only=['china'])

In [ ]:
Base = automap_base(metadata=metadata)

In [ ]:
Base.prepare()

In [ ]:
china = Base.classes.china

In [2]:
path = "china.csv"
df = pd.read_csv(path)
# df_uk = pd.read_csv(path)

# df_copy = df.copy()

# df_copy.head(10)
# df = df.drop(columns=['Unnamed: 0'])
df

,Year,GDP,Growth,Inflation,UR,EXR_(CNY_per_USD),Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1
4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6
5,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4

In [3]:
df.rename( columns= {'EXR_(CNY_per_USD)': 'ER'}, inplace=True)

In [4]:
# df.rename( columns= { 'GDP (Mil)': 'GDP',
#                        'GDP Growth (%)': 'Growth', 
#                        'Inflation (%)': 'Inflation',
#                       'UR (% econ active pop)': 'UR',
#                       'Exchange Rates Against US Dollar (USD per USD)': 'ER',
#                       "Total Population ('000)": 'Population',
#                       'Median Age of Population (years)': 'Avg_Age_population' ,
#                        "Number of Households ('000)": "Households_number",
#                        'Consumer Expenditure (USD million)': 'Consumer_Expenditure',
#                        "Internet Users ('000)": 'Internet_Users',
#                     'Exchange Rates Against US Dollar (CNY per USD)': 'EXR_(CNY_per_USD)'},inplace=True)
df

,Year,GDP,Growth,Inflation,UR,ER,Population,Avg_Age_population,Households_number,Consumer_Expenditure,Internet_Users
0,2013,9570302.2,7.8,2.6,3.0,6.2,1354040.0,37.1,438932.8,3562699.2,584026.3
1,2014,10439965.5,7.3,1.9,3.1,6.1,1360720.0,37.4,445821.0,3943565.5,612755.9
2,2015,11015504.9,6.9,1.4,3.3,6.2,1367820.0,37.6,452778.1,4256794.1,645814.2
3,2016,11138042.2,6.7,2.0,3.6,6.6,1374620.0,37.8,459551.8,4408443.4,684987.1
4,2017,12143201.1,6.9,1.6,3.7,6.8,1382710.0,38.0,466786.8,4697194.9,702685.6
5,2018,13608151.9,6.6,2.1,3.9,6.6,1390080.0,38.2,473844.2,5313865.1,756755.4

In [ ]:
df.to_csv("china.csv")

In [ ]:
print (df.columns.values )

In [ ]:
# print(df_copy.dtypes)
df_copy

In [ ]:
df_copy["Year"] = pd.to_datetime(df_copy[['Year','Day', 'month']])

In [ ]:
# print(df_copy.index.name)
df_copy

In [ ]:
df_c = df_copy.transpose()
df_c
# print(df_copy.columns.values)

In [ ]:
df_c.reset_index(inplace=True)

In [ ]:
df_c.head(10)

In [ ]:
# print(df_c.index)
list(df.columns.values)

In [ ]:
df_c.rename( columns= {'index': 'Year', 'GDP (USD million)': 'GDP (Mil)'}, inplace=True)
df_c

In [ ]:

print (df_c.columns.values )

In [ ]:
df_c.set_index('Year')

In [ ]:
print (df_c.columns.values )