In [1]:
import plotly
import plotly.graph_objs as go

import pandas as pd

data=pd.read_csv('cleandata/SuicByState10yr.csv', index_col=['stateName'])
data.head()

,2001suic,2001pop,2004suic,2004pop,2005suic,2005pop,2006suic,2006pop,2007suic,2006pop.1,...,2011suic,2011pop,2012suic,2012pop,2013suic,2013pop,2014suic,2014pop,2017suic,2017pop
stateName,,,,,,,,,,,,,,,,,,,,,
Alabama,71.1,8947723,74.0,4530729,74.7,4569805,78.1,4628981,78.4,4672840,...,77.1,4798649,71.1,4813946,72.1,4827660,73.3,4840037,84.9,4874747
Alaska,86.8,1276051,87.6,659286,78.9,666946,80.5,675302,89.1,680300,...,84.3,722259,85.0,730825,81.8,736760,85.8,736759,106.0,739795
Arizona,75.0,10669732,76.4,5652404,82.9,5839077,83.7,6029141,79.2,6167681,...,73.4,6465488,72.0,6544211,75.1,6616124,73.0,6706435,83.2,7016270
Arkansas,72.0,5397498,75.9,2749686,74.7,2781097,76.7,2821761,76.7,2848650,...,75.8,2938640,77.8,2949208,72.4,2956780,75.3,2964800,85.3,3004279
California,43.7,69351301,48.2,35574576,48.8,35827943,49.4,36021202,49.6,36250311,...,44.6,37672654,44.1,38019006,44.9,38347383,45.1,38701278,49.3,39536653

In [ ]:
trace= go.Scatter(
    x = data.index,
     y= data['2017suic'],
    mode = 'markers',
    showlegend = True

)
plot_data=[trace]

In [ ]:
plotly.offline.plot(plot_data, filename='basic-scatter')

In [2]:
trace = go.Bar(x=data.index, y=data['2017suic'])

plot_data=[trace]

In [3]:
plotly.offline.plot(plot_data, filename='bar.html')

'bar.html'

In [4]:
trace = go.Bar(x=data.index, y=data['2017suic'],name ='2017 suside',marker_color='blue',
              text=data['2017suic'], textposition='auto')

trace1 = go.Bar(x=data.index, y=data['2014suic'],name ='2014 suside',marker_color='red',
              text=data['2014suic'], textposition='auto')
go.Layout(title='Order by Contury', barmode='group')

plot_data=[trace,trace1]

In [5]:
plotly.offline.plot(plot_data, filename='bar_group.html')

'bar_group.html'