In [3]:
import plotly
import plotly.graph_objs as go

import pandas as pd

file = 'cleandata/avocado-updated-2020.csv'

In [5]:
data=pd.read_csv(file)
data.head()

,date,average_price,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,geography
0,2015-01-04,1.22,40873.28,2819.50,28287.42,49.90,9716.46,9186.93,529.53,0.0,conventional,2015,Albany
1,2015-01-04,1.79,1373.95,57.42,153.88,0.00,1162.65,1162.65,0.00,0.0,organic,2015,Albany
2,2015-01-04,1.00,435021.49,364302.39,23821.16,82.15,46815.79,16707.15,30108.64,0.0,conventional,2015,Atlanta
3,2015-01-04,1.76,3846.69,1500.15,938.35,0.00,1408.19,1071.35,336.84,0.0,organic,2015,Atlanta
4,2015-01-04,1.08,788025.06,53987.31,552906.04,39995.03,141136.68,137146.07,3990.61,0.0,conventional,2015,Baltimore/Washington

In [ ]:
trace= go.Scatter(
    x = data.index,
     y= data['2017suic'],
    mode = 'markers',
    showlegend = True

)
plot_data=[trace]

In [ ]:
plotly.offline.plot(plot_data, filename='basic-scatter')

In [2]:
trace = go.Bar(x=data.index, y=data['2017suic'])

plot_data=[trace]

In [3]:
plotly.offline.plot(plot_data, filename='bar.html')

'bar.html'

In [4]:
trace = go.Bar(x=data.index, y=data['2017suic'],name ='2017 suside',marker_color='blue',
              text=data['2017suic'], textposition='auto')

trace1 = go.Bar(x=data.index, y=data['2014suic'],name ='2014 suside',marker_color='red',
              text=data['2014suic'], textposition='auto')
go.Layout(title='Order by Contury', barmode='group')

plot_data=[trace,trace1]

In [5]:
plotly.offline.plot(plot_data, filename='bar_group.html')

'bar_group.html'