In [1]:
from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import Session
import csv
import pandas as pd


Base = declarative_base()

In [8]:
engine = create_engine("sqlite:///../DB/testwo.sqlite")
# Base.metadata.create_all(engine)

In [3]:
class china(object):
#     id = Column(Integer, primary_key=True)
    __tablename__ = "china"
    Year = Column(String)
    GDP = Column(Integer)
    Growth = Column(Integer)
    Inflation = Column(Integer)
    UR = Column(Integer)
    ER= Column(Integer)
    Population = Column(Integer)
    Avg_Age_population = Column(Integer)
    Households_number  = Column(Integer)
    Consumer_Expenditure  = Column(Integer)
    Internet_Users  = Column(Integer)

In [ ]:
# class usa(TemplateTable, Base):
#     __tablename__ = "china"

In [4]:
Base.metadata.create_all(bind=engine)

In [6]:
file_name = 'china.csv'
df=pd.read_csv(file_name)
df.to_sql('china',con=engine, if_exists='append')

In [ ]:
print (engine.table_names())

In [ ]:
conn = engine.connect()
data = pd.read_sql("SELECT * FROM china", conn)

In [ ]:
data.head()

In [9]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]